/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body, html {
	height: 100%;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}


/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  min-height: 350px;
  
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*//////////////////////////////////////////////////////////////////
[ Home ]*/

.wrap-login100 > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.container-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.container-head {
  margin-bottom: 4vh;
}

.container-body {
  overflow: auto;
  width: 100%;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 5vh;
}

#auth_type_label {
    justify-content: space-between;;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 37px 0 37px;
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*------------------------------------------------------------------
[ Select ]*/
.grey-select {
    width: 180px;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: rgb(49, 50, 53);
    border: 1px solid rgb(60, 64, 67);
    color: #f2f2f2;
    outline: rgb(60, 64, 67);
}

/*------------------------------------------------------------------
[ Label - select ]*/

.label-select {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background-color: rgb(0, 216, 177);
  top: 0;
  left: -100%;
}

.login100-form-btn {
  font-size: 15px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Table ]*/
#wifiListTable {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 2px solid #adadad;
    border-radius: 5px;
}

#wifiListTable th {
    width: 100%;
    text-align: left;
    padding: 10px 5px;
}

#wifiListTable td {
    text-align: left;
    padding: 0px 5px;
}

#wifiListTable tr {
    cursor: pointer
}

/*------------------------------------------------------------------
[ Linha Horizontal ]*/

hr {
  margin: 40px 0;
}

.hr1 {
  border: 0;
  border-top: 1px solid #CCC;
}

/*------------------------------------------------------------------
[ Modal ]*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/*------------------------------------------------------------------
  [ Tabs ]*/

.box-tab{

  display:flex;
  flex-direction: column;
  align-items: center;

}

.tab{

    cursor: pointer;
    padding: 10px 25px;
    margin: 0px -1px;
    background: rgb(0, 216, 177);
    color: #fff;
    border-radius: 3px 3px 0px 0px;
    display: inline-block;

}

.tabs { 

    width: 100%;
    float: left; 

} 

.panels{

  background:#fffffff6;
  min-height:260px;
  width:100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  

}

.panel{

  display:none;
  animation: fadein .8s;

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.tab-title{

  width:100%;  
  float:left;
  margin-bottom:10px;
  font-size:1.5em;
  font-weight:bold

}

.radio{
  display:none;
}

#um:checked ~ .panels #tab-um,
#dois:checked ~ .panels #tab-dois,
#tres:checked ~ .panels #tab-tres{
  display:block
}
#um:checked ~ .tabs #one-tab,
#dois:checked ~ .tabs #two-tab,
#tres:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid rgb(0, 216, 177);
}